<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Garzon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto"  *ngIf="user$ | async as user">
<!-- //---------------------------------------------------------------------------// -->        
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/new']">Nueva persona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bitacora']">Bitacora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/consultas']">Consultas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bancos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="nav-link links" [routerLink]="['/new-bank']">Añadir Banco</a>
            <a class="nav-link links" [routerLink]="['/bank-list']">Lista de bancos</a>
          </div>
        </li>
      </ul>
<!-- //---------------------------------------------------------------------------// -->
      <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
        <li class="nav-item" *ngIf="user">
          <a href="#" class="nav-link" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> {{ user?.email }}</a>
        </li>
      </ul>
      <ng-template #login>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Registrar</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
