<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-sm-8">
      <form (ngSubmit)="onSave()" [formGroup]="accountTypeForm">

        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Tipo de Cuenta nueva"
              formControlName="Nb_Banco_Tipo_Cuenta" [class]="	isValidField('Nb_Banco_Tipo_Cuenta')">
          </div>

          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="St_Activo" formControlName="St_Activo"
              [class]=" isValidField('St_Activo')">
          </div>
        </div>

          <button type="button" class="btn btn-primary col-md-4 float-left" (click)="onGoBackToList()">Regresar</button>
          <button type="submit" class="btn bg-success col-md-4 float-right text-light">Guardar</button>
      </form>
    </div>
  </div>
</div>