<div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-sm-8">
        <h1 class="text-center">Consultas Bancarias</h1>
        <form>
          <select class="form-select mt-4" aria-label="Default select example">
            <option selected>Banco</option>
            <option value="1">Venezuela</option>
            <option value="2">Mercantil</option>
            <option value="3">Provincial</option>
          </select>
          <div class="mb-4 mt-4">
            <label for="inputNuCuenta" class="form-label">Numero de Cuenta Bancaria</label>
            <input type="email" class="form-control" id="inputNuCuenta" aria-describedby="emailHelp">
          </div>
          <select class="form-select mt-4" aria-label="Default select example">
            <option selected>Tipo de Cuenta</option>
            <option value="1">Ahorro</option>
            <option value="2">Corriente</option>
            <option value="3">Nómina</option>
          </select>
          <div class="mb-4 mt-4">
            <label for="inputCoCuenta" class="form-label">Codigo de Empresa</label>
            <input type="email" class="form-control" id="inputCoCuenta" aria-describedby="emailHelp">
          </div>

          <div class="col text-center">
            <button type="submit" class="btn btn-primary mt-4">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
